.board-activity-container {
  display: grid;
  position: fixed;
  top: 0;
  right: 0;
  width: 750px;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: $clr2;
  z-index: 10000;
  transition: 0.3s;
  border-left: 10px solid #999a9c;
  .activity-header {
    margin-top: 27px;
    padding: 0 25px;
    h2 {
      color: #323338;
      font-size: 20px;
      padding-bottom: 25px;
      border-bottom: 1px solid rgb(180, 180, 180);
      margin-top: 0;
      span {
        font-weight: 500;
      }
    }
  }
  .activity-list-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
    .activity-list {
      padding: 0 8px 0 25px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(149, 149, 149);
    }
    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(149, 149, 149);
    }
  }
  .board-activity {
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    position: relative;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    .member-preview {
      width: 30px;
      margin: 15px;
      margin-right: 7px;
    }
    .time-icon {
      svg {
        margin-top: -3px;
      }
    }
  }
  .status-img {
    height: 10px;
    width: 15px;
    margin-right: 3px;
    margin-top: 2px;
  }
  .arrow-right {
    svg {
      fill: #c4c4c4;
    }
  }
}
.activity-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 89.14px;
  height: 39px;
  // padding: 5px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Working.on.it {
  color: $clr2;
  background-color: $clr10;
}
.Done {
  color: $clr2;
  background-color: $clr11;
}
.Stuck {
  color: $clr2;
  background-color: $clr12;
}
.Blank {
  color: $clr2;
  background-color: $clr45;
  width: 89.14px;
  height: 30px;
}

.Critical {
  color: $clr2;
  background-color: $clr34;
}
.High {
  color: $clr2;
  background-color: $clr35;
}
.Medium {
  color: $clr2;
  background-color: $clr36;
}
.Low {
  color: $clr2;
  background-color: $clr37;
}

.timeline {
  width: 117.3px px;
  height: 22px;
  background-color: #2188c1;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.activity-task-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

svg {
  width: 22px;
  fill: rgb(65, 65, 65);
}

.activity-time {
  min-width: 22px;
}

.activity-icons {
  margin-left: 35px;
}

.task-activity-container {
  display: grid;
  top: 0;
  right: 0;
  width: 550px;
  height: 100vh;
  background-color: $clr2;
  z-index: 10000;
  transition: 0.3s;
  .board-activity {
    display: grid;
    grid-template-columns: 180px 1fr 190px;
    position: relative;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin: 0 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    .member-preview {
      width: 30px;
      margin: 15px;
      margin-right: 7px;
    }
    .time-icon {
      svg {
        margin-top: -3px;
      }
    }
  }
  .status-img {
    height: 10px;
    width: 15px;
    margin-right: 3px;
    margin-top: 2px;
  }
  .arrow-right {
    svg {
      fill: #c4c4c4;
    }
  }
}
.activity-status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 89.14px;
  height: 39px;
  // padding: 5px;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Working.on.it {
  color: $clr2;
  background-color: $clr10;
}
.Done {
  color: $clr2;
  background-color: $clr11;
}
.Stuck {
  color: $clr2;
  background-color: $clr12;
}
.Blank {
  color: $clr2;
  background-color: $clr45;
  width: 89.14px;
  height: 30px;
}

.Critical {
  color: $clr2;
  background-color: $clr34;
}
.High {
  color: $clr2;
  background-color: $clr35;
}
.Medium {
  color: $clr2;
  background-color: $clr36;
}
.Low {
  color: $clr2;
  background-color: $clr37;
}

.timeline {
  width: 117.3px px;
  height: 22px;
  background-color: #2188c1;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}

.activity-task-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

svg {
  width: 22px;
  fill: rgb(65, 65, 65);
}

.activity-time {
  min-width: 22px;
}

.activity-icons {
  margin-left: 35px;
}
