.add-task {
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);
  z-index: 60;
  @include for-mobile-layout {
    background-color: #313131;
    color: white;
  }

  .empty {
    box-shadow: 1px 8px 0 -1px #fff;
    left: 0;
    @include for-mobile-layout {
      display: none;
      background-color: #313131;
      box-shadow: 0 6px 2px -2px #313131;
    }
  }

  .task-border {
    opacity: 0.5;
    border-bottom-left-radius: 6px;
    left: 40px;
    @include for-mobile-layout {
      left: 6px;
      z-index: 20001;
      width: 5px;
    }
  }

  .input-wrapper {
    border-inline-end: 0;
    left: 78px;
    padding: 6px 10px;
    @include for-mobile-layout {
      left: 38px;
      background-color: #313131;
      color: white;
    }

    input {
      border: 0;
      border-radius: 4px;
      padding: 4px 3px;
      width: 100%;
      padding-inline-start: 17px;
      @include for-mobile-layout {
        background-color: #313131;
        color: white;
      }
    }
  }

  &:hover {
    .task-border {
      opacity: 1;
    }
  }
}
