.board-header {
    height: 100%;
    width: 100%;
    padding-inline: 30px;
    .icon {
        height: em(32px);
        width: em(32px);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #676879;
    }
    .board-name {
        height: 45px;
        width: max-content;
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            height: em(24px);
            line-height: 40px;
            font-size: 24px;
            margin-right: 2px;
        }
    }
    .logged-in-user {
        padding: 4px 6px;
        gap: 4px;
        img {
            height: em(24px);
            width: em(24px);
        }
    }
    .invite {
        border: 1px solid $clr014;
        border-radius: 4px;
        padding-right: 4px;
        font-size: em(14px);
    }
    .btn-hover {
        &:hover {
            background-color: $clr39;
        }
    }
}