.color-picker {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  width: 142px;
  height: 116px;
  position: absolute;
  top: 36px;
  left: 77px;
  padding: 5px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid rgb(197, 195, 195);
  border-radius: 4px;
  .color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
}
