
// stat summary 
.stat {
    height: 100%;
    width: 30%;
    max-width: 175px;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
    box-shadow: 0 0 2px gray;
    border-radius: 6px;
    background: $clr34;
}

// chart
.chart-container {
    border: 1px solid #d0d4e6;
    border-radius: 10px;
    background-color: #fff;
    height: 1fr;
    margin: 0.5rem;
}

.dashboard {
    background-color: #f6f7fb;
    display: grid;
    grid-template-columns: 1.5fr,1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "person-bar status"
    "person-bar priority";
    padding: 20px;
    gap: 10px;
    .status-pie {
        div.chart-header {
            padding-block: 10px;
            border-bottom: 2px solid $clr014;
            font-size: 26px;
            font-weight: 600;
            padding-inline: 8px;
        }
        .chart {
            padding-top: 10px;
        }
        background-color: white;
        border-radius: 10px;
        border: 2px solid $clr016;
        grid-area: status;
    }
    .person-bar {
        div.chart-header {
            padding-block: 10px;
            border-bottom: 2px solid $clr014;
            font-size: 26px;
            font-weight: 600;
            padding-inline: 8px;
        }
        .chart {
            padding: 10px;
        }
        background-color: white;
        border-radius: 10px;
        border: 2px solid $clr016;
        grid-area: person-bar;
    }
    .priority-doughtnut {
        div.chart-header {
            padding-block: 10px;
            padding-inline: 8px;
            border-bottom: 2px solid $clr014;
            font-weight: 600;
            font-size: 26px;
        }
        .chart {
            padding-top: 10px;
        }
        background-color: white;
        border-radius: 10px;
        border: 2px solid $clr016;
        grid-area: priority;
    }

}