.edit-menu {
    display: grid;
    background-color: #fff;
    width: rem(264px);
    border-radius: rem(8px);
    position: absolute;
    top: 24px;
    padding: 8;
    box-shadow: 0 4px 17px 6px rgba(0,0,0,.1);
    .edit-cell {
        display: grid;
        grid-template-columns: 30px auto;
        align-content: center;
    }
}