.card-preview {
    background-color: #fff;
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    padding-inline-start: 5px;
    border-radius: 6px;
    box-shadow: 0 4px 8px #0003;

    .task-title.cell1 {
        border: none;
        height: 38px;
    }
}