.kanban-col {
    font-family: 'Figtree';
    width: 260px;
    border-radius: 8px;
    height: 100%;
    margin-inline-end: 15px;

    &:hover {
        .add-task-plus {
            opacity: 1;
            transition: .230s;

            svg {
                fill: #fff;
            }

            &:hover {
                background-color: $clr014;

                svg {
                    fill: #000;
                }
            }
        }
    }

    .col-header {
        font-size: 1rem;
        padding-bottom: 9px;
        padding-top: 12px;
        padding-inline: 8px;
        color: #fff;
        position: relative;
        cursor: pointer;
    }

    .add-task-plus {
        padding-left: 3px;
        padding-top: 3px;
        border-radius: 3px;
        width: 23px;
        height: 21px;
        opacity: 0;
    }

    .col-content {
        overflow-y: scroll;
        flex: 1;
        background-color: #f6f7fb;
        padding: 4px 8px 16px;
        height: 100%;
        min-height: 100%;
        position: relative;
        transition: background .2s ease, box-shadow .2s ease;

        &::-webkit-scrollbar {
            width: 4px;
            opacity: 0;
        }
    
        &::-webkit-scrollbar-track {
            background-color: rgb(255, 255, 255);
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: $clr39;
            border-radius: 10px;
        }

        div {
            padding-inline: 2px;
        }

        &:hover {
            &::-webkit-scrollbar {
                opacity: 1;
            }
            // box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            background-color: $clr39;
        }
    }
}

.task-kanban-drag {
    transform: rotate(5deg);
}