.main-content-kanban {
  overflow: hidden;

  .board-header {
    height: 195px;
  }

  .kanban-container {
    height: 100%;
    overflow: hidden;

    .kanban {
      border-top: 1px solid #c3c6d4;
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex: 1 0;
      overflow: auto;

      .kanban-content {
        display: flex;
        width: max-content;
        overflow: hidden;
        gap: 12px;
        padding: 8px 0 0 8px;
        height: 100%;
        width: 100%;
        flex-grow: 1;
        white-space: nowrap;

        .smooth-dnd-container {
          min-height: 200px;
          min-width: 30px;
        }

        .smooth-dnd-container.horizontal {
          padding: 0 4px;
          display: flex !important;
          overflow-x: auto;
          height: 800px;
          overflow-y: hidden;
        }
      }

      .kanban-filter {
        overflow: hidden;
        margin-inline-start: auto;
        height: 100%;
        z-index: 50;
        flex: 0 0 0px;
        background-color: #fff;
        border-left: 2px solid #d0d4e6;
        transition: 0.2s;

        &.open {
          flex-basis: 270px;
          padding: 16px;
        }

        > * {
          margin-bottom: 16px;
        }

        .customize {
          color: #676879;
          margin-bottom: 16px;
        }

        .sub-header {
          padding-inline-end: 8px;
          font-size: 0.875em;

          .svg {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }

        .select-wrapper {
          width: 100%;
        }

        .el-select {
          width: 100%;
          border-radius: 6px;
          color: #323338;
          border: 1px solid #c3c6d4 !important;
          border: 0;
          padding: 0 !important;
          cursor: pointer;
        }

        .card-columns-wrapper {
          padding-inline-end: 8px;
          padding-top: 6px;

          > * {
            font-size: 14px;
            line-height: 22px;
          }
        }

        .sub-header2 {
          margin-bottom: 8px;
        }

        .all-columns {
          margin-bottom: 22px;

          input[type='checkbox'] {
            margin-inline-end: 8px;
          }
        }

        .card-col {
          margin-bottom: 8px;
          cursor: pointer;
        }

        .sub2 {
          span {
            width: 150px;
            margin-inline-start: 8px;
          }
        }
      }
    }
  }
}

.el-select-dropdown__item.selected {
  color: #323338;
  font-weight: 200;
  border-radius: 5px;
  &:hover {
    background-color: $clr7;
  }
}
