.kanban-col {
    font-family: 'Figtree';
    width: 260px;
    border-radius: 8px;
    height: 100%;
    margin-inline-end: 15px;

    &:hover {
        .add-task-plus {
            opacity: 1;
            transition: .230s;

            svg {
                fill: #fff;
            }

            &:hover {
                background-color: $clr014;

                svg {
                    fill: #000;
                }
            }
        }
    }

    .col-header {
        font-size: 1rem;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-inline: 8px;
        color: #fff;
        position: relative;
        cursor: pointer;
    }

    .add-task-plus {
        padding-left: 3px;
        padding-top: 3px;
        border-radius: 3px;
        width: 23px;
        height: 21px;
        opacity: 0;
    }

    .col-content {
        flex: 1;
        background-color: #f6f7fb;
        height: 76vh;
        min-height: 60vh;
        position: relative;
        transition: background .2s ease, box-shadow .2s ease;


        .col-container-drag {
            overflow-x: visible;
            overflow-y: scroll;
            max-height: 100%;
            padding: 4px 8px 16px;

            &::-webkit-scrollbar {
                width: 4px;
                opacity: 0;
            }
        
            &::-webkit-scrollbar-thumb {
                opacity: 0;
                border-radius: 10px;
            }

            &:hover {
                &::-webkit-scrollbar-thumb {
                    opacity: 1;
                    background-color: #b6bbd3;
                }
                background-color: $clr39;
            }
        }

        div {
            padding-inline: 2px;
        }
    }
}

.task-kanban-drag {
    transform: rotate(5deg);
}