.filter-container {
  width: 522px;
  height: fit-content;
  position: absolute;
  top: 180px;
  z-index: 4000;
  margin-left: 40px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  background-color: $clr2;
  border-radius: 5px;
  cursor: auto;
  .filter-div {
    background-color: $clr42;
    padding: 5px 10px;
    border-radius: 4px;
    height: 34px;
    gap: 5px;
    font-size: 14px;

    cursor: pointer;
    &:hover {
      background-color: $clr016;
    }
    .filter-member-img {
      width: 25px;
      border-radius: 50%;
    }
    .filter-status-clr {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
  .filter-title {
    position: relative;
    padding: 18px;
    align-items: baseline;
    span {
      color: $clr3;
      font-size: 16px;
    }
    .filter-task-count {
      font-size: 14px;
      margin-left: 10px;
      color: $clr43;
    }
  }
  .filter-recent-title {
    padding: 0px 18px;
    color: $clr3;
  }
  .triangle {
    border-style: solid;
    border-width: 0.5rem 6px 0.5rem 0;
    transition: opacity 0.1s ease-in-out;
    border-color: transparent #ffffff transparent transparent;
    rotate: 90deg;
    position: absolute;
    top: -10px;
    left: 240px;
  }
  .active {
    background-color: $clr016;
  }
}
.filter-list-container {
  article {
    padding: 18px;
    width: 100%;
    height: fit-content;
    gap: 6px;
  }
}
