.msg-preview {
    margin-top: 8px;
    height: em(202px);
    // height: max-content;
    width: em(522px);
    border-radius: 8px;
    border: 1px solid $clr014;

    .msg-header {
        width: 100%;
        padding: 16px;
        padding-bottom: 8px;

        .title {
            img {
                height: em(40px);
                width: em(40px);
                margin-right: 10px;
                border-radius: 50%;
            }

            .active-dot {
                margin-top: 2px;
                margin-left: 5px;
                height: 10px;
                width: 10px;
                background-color: #00c875;
                border-radius: 50%;
            }
        }

        .header-info {
            gap: 10px;
            color: #676879;
            justify-self: end;
            align-self: start;
        }
    }

    .msg-txt {
        padding-left: 20px;
        padding-top: 7px;
        height: 70px;
    }

    .createdAt-preview {
        font-size: 14px;
        margin-bottom: 3px;
        margin-left: 1px;
    }

    .msg-bottom-btns {
        position: relative;
        height: 50px;
        width: 100%;
        border-top: 1px solid $clr014;
        margin-top: 16px;
        .like {
            border-radius: 4px;
            width: 270px;
            margin-left: 7px;
            cursor: pointer;
            &:hover {
                    background-color: $clr016;
            }
            .bottom-btn {
                height: 40px;
                &.liked {
                    color: $clr8;
                }
            }
            &::before {
                content: "";
                height: 50px;
                border-right: 1px solid;
                border-color: $clr016;
                position: absolute;
                top: -6px;
                right: -10px;
            }
        }
        .liked-users {
            width: 490px;
            position: absolute;
            top: -33px;
            left: 17px;
            .user {
                gap: 5px;
                img {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                }
            }
        }
            
        .btn-container {
            position: relative;
            width: 250px;

            .bottom-btn {
                gap: 5px;
                .icon {
                    margin-top: 3px;
                }

            }
        }
    }
}