.openai-container {
    position: relative;
    min-height: 200px;
    padding: 20px;
    border: 1px solid $clr014;
    color: #fff;
    background: linear-gradient(180deg, #8e8ee6 0.69%, #1b1837 80%);

    .chat-container {
        width: 100%;
        display: grid;
    }

    .title {
        padding-inline-end: 10px;
        font-weight: bold;
    }

    .send-section {
        position: absolute;
        height: 40px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-inline: 5px;
        // border-top: 1px solid #000;

        input[type="text"] {
            background-color: #fff;
            border: none;
            height: 30px;
            width: 85%;
            border-radius: 4px;
            padding-inline-start: 8px;

            &:focus {
                outline: none;
            }
        }

        .send {
            border: none;
            padding: 10px;
            padding-top: 13px;
            cursor: pointer;
            // padding-top: 6px;
           
            
            &:hover {
                svg {
                    scale: 1.2;
                }
            }

            svg {
                width: 15px;
                height: 15px;
            }
        }

        .mic {
          display: block;
          height: 20px;
          margin-left: 3px;
          cursor: pointer;

          &:hover {
            svg {
              scale: 1.1;
            }
          }
        }

        .stopRec {
          height: 16px;
          width: 16px;
          background-color: rgb(253, 34, 34);
          border-radius: 50%;
          margin-left: 6px;
          cursor: pointer;

          &:hover {
            scale: 1.1;
            opacity: 0.8;
          }
        }
    }

    .msg {
        margin: 0px 0;
    }

    .open-ai-input {
        border: 2px solid $clr6;
        background-color: inherit;
    }
    .loader-container {
        position: relative;
        $r-dot: 1em;
        $d-dot: 2*$r-dot;
        $l-pad: 6.25*$r-dot;
        
        .container {
            position: absolute;
            top: 45px;
            left: 50%;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            animation: rotate_3922 1.2s linear infinite;
            background-color: #9b59b6;
            background-image: linear-gradient(#9b59b6, #84cdfa, #5ad1cd);
          }
          
          .container span {
            position: absolute;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            background-color: #9b59b6;
            background-image: linear-gradient(#433e76, #5b5b76, #383564);
          }
          
          .container span:nth-of-type(1) {
            filter: blur(5px);
          }
          
          .container span:nth-of-type(2) {
            filter: blur(10px);
          }
          
          .container span:nth-of-type(3) {
            filter: blur(25px);
          }
          
          .container span:nth-of-type(4) {
            filter: blur(50px);
          }
          
          .container::after {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            background-color: #fff;
            border: solid 5px #ffffff;
            border-radius: 50%;
          }
          
          @keyframes rotate_3922 {
            from {
              transform: translate(-50%, -50%) rotate(0deg);
            }
          
            to {
              transform: translate(-50%, -50%) rotate(360deg);
            }
          }
    }
}