.person-preview {
  width: fit-content;
  height: fit-content;
  background-color: white;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  border: none;
  border-radius: 6px;
  top: 40px;
  left: -104px;
  z-index: 1100;
  padding: 15px;
  font-size: 14px;

  .member-invite-container {
    overflow-y: scroll;
  }

  .person-img {
    border-radius: 50%;
  }

  .x-icon {
    color: #666;
    padding-left: 3px;
  }

  input {
    width: 320px;
    height: 32px;
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    margin-top: 20px;
    padding: 8px 24px 8px 16px;

    &:hover {
      border: 1px solid black;
    }

    &:focus {
      outline: 1px solid $clr8;
      border: none;
    }
  }

  .workspace-icon-search {
    width: 30px;
    height: 24px;
    position: absolute;
    margin-top: 24px;
    margin-left: -28px;
    cursor: pointer;

    svg {
      width: 24px;
      border-radius: 5px;
      height: 24px;
      padding: 3px;
    }

    :hover {
      background-color: #dcdfec;
    }
  }

  .member {
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding: 15px;

    &:hover {
      background-color: $clr39;
      border-radius: 4px;
    }

    .member-img {
      width: 26px;
      border-radius: 50%;
    }

    .member-mail {
      margin-left: 10px;
    }
  }

  .invite {
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;

    p {
      margin-left: 15px;
    }

    &:hover {
      background-color: $clr39;
    }
  }
}

.workspace-icon-invite {
  margin-top: 3px;
  margin-left: 13px;
}

.active-person {
  font-size: 12px;
  flex-wrap: wrap;
  justify-content: flex-start;

  .person-card {
    margin: 4px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    background: rgb(229, 244, 255);
    border-radius: 24px;

    img {
      margin-left: 0px;
      // width: 22px;
    }

    span {
      padding: 4px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: inherit;
      border: none;
      height: 15px;
      width: 15px;
      border-radius: 5px;
      font-size: 10px;
      margin: 5px;
      span {
        padding-top: 6px;
        padding-left: 6px;
      }
      &:hover {
        background-color: $clr014;
      }
    }
  }
}

.arrow-up-div-person {
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: $clr2;
  top: -5px;
  margin-left: 44%;
  z-index: 52;
  rotate: 45deg;
}
