.priority-critical {
  background-color: $clr34;
}

.priority-high {
  background-color: $clr35;
}

.priority-medium {
  background-color: $clr36;
}

.priority-low {
  background-color: $clr37;
}

.priority-empty {
  background-color: $clr41;
}
