.priority {
  width: 100%;
  height: 100%;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

.priority-critical {
  background-color: rgb(51, 51, 51);
}

.priority-high {
  background-color: rgb(64, 22, 148);
}

.priority-medium {
  background-color: rgb(85, 89, 223);
}

.priority-low {
  background-color: rgb(87, 155, 252);
}
