.progress-grid {
    margin-top: -1px;
    @include for-mobile-layout {
        background-color: #232323;
        color: white;
      }

    >*:not(:first-child, .empty, .second, .third, .fourth) {
        box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.1);
    }

    >*:not(:first-child, .empty) {
        border-top: 1px solid #d0d4e6;
        @include for-mobile-layout {
            background-color: #232323;
          }
    }

    >*:nth-child(4)::after {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 8px;
        height: 97%;
        left: 100%;
        border-bottom-left-radius: 6px;
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid $clr014;
        border-left: 1px solid $clr014;
    }

    >*:nth-child(4)::before {
        content: "";
        pointer-events: none;
        position: absolute;
        width: 8px;
        height: 100%;
        left: 100%;
        background-color: #fff;
        box-shadow: 0 6px 2px -2px #fff;
        @include for-mobile-layout {
            background-color: #232323;
            box-shadow: 0 6px 2px -2px #232323;
          }
    }

    .empty {
        box-shadow: 1px 8px 0 -1px #fff;
        @include for-mobile-layout {
            background-color: #232323;
            box-shadow: 0 6px 2px -2px #232323;
          }
    }

    .second {
        left: 40px;
        box-shadow: 1px 8px 0 -1px #fff, inset 0 8px 9px -9px rgba(0, 0, 0, .1);
        @include for-mobile-layout {
            background-color: #232323;
            box-shadow: 0 6px 2px -2px #232323;
            left: -2px;
            border-top: 1px solid #d0d4e6;
          }
    }

    .third {
        box-shadow: 1px 8px 0 -1px #fff, inset 0 8px 9px -9px rgba(0, 0, 0, .1);
        border-top: 1px solid #d0d4e6;
        left: 46px;
        @include for-mobile-layout {
            left: 0px;
            background-color: #232323;
            box-shadow: 0 6px 2px -2px #232323;
          }
    }

    .fourth {
        border-top: 1px solid #d0d4e6;
        box-shadow: 1px 8px 0 -1px #fff, inset 0 8px 9px -9px rgba(0, 0, 0, .1);
        left: 78px;
        z-index: 1000;
        height: 100%;
        @include for-mobile-layout {
            background-color: #232323;
            box-shadow: 0 6px 2px -2px #232323;
            display: none;
          }
    }

    .timeline-progress-container {

        .timeline-progress-bar {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 22px;
            text-align: center;
            color: white;
            width: em(145px);
            border-radius: 10px;
            font-size: 14px;
            background-color: #383838;
            z-index: 6;
        }

        .day-diff {
            position: absolute;
            top: 3px;
            right: 55px;
            display: none;
        }

        &:hover .day-diff {
            display: block;
        }

        &:hover .date-diff {
            display: none;
        }

        .date-diff {
            font-size: 13px;
            position: absolute;
            top: 3px;
            right: 20px;
        }

    }
}