.side-nav {
  // Removed grid rows
  // grid-template-rows:98px auto 178px 110px;
  display: grid;
  justify-items: center;
  align-content: space-between;
  position: relative;
  height: 100%;
  background-color: #292f4c;
  .monday-icon {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 50px;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    img {
      width: 40px;
      height: 40px;
      &:hover {
        background-color: rgb(25, 25, 25);
        border-radius: 10px;
      }
    }
  }
  .work-management {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #54596f;
    margin-left: 7.2px;
    svg {
      margin-top: 4px;
  margin-left: 1px;
    }
  }
  .icon-wrapper {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .icon-pattern-bottom {
    border-bottom: 1px solid grey;
    width: 50px;
    margin-bottom: 7px;
  }
  .icon-pattern-top {
    padding-top: 5px;
  }
  .workspace-arrow-left-div {
    border-style: solid;
    border-width: 0.5rem 6px 0.5rem 0;
    transition: opacity 0.1s ease-in-out;
    border-color: transparent #f6f7fb transparent transparent;
    position: absolute;
    top: 71px;
    left: 62px;
  }
  .member-wrapper {
    cursor: pointer;
    position: relative;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $clr2;

    .edit-menu {
      position: absolute;
      top: -30px;
      left: 45px;
      z-index: 5500;
    }

    .member-preview {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      transition: 0.1s;
      &:hover {
        height: 37px;
        width: 37px;
      }
    }
  }
}

// ADDED
.user-img {
  margin-bottom: 13px;
}

.someday {
  color: $clr2;
  font-size: 30px;
  span {
    margin-top: 10px;
  }
}
