.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;

  .photo-input {
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 1px solid $clr014;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .setup {
    padding: 70px;
    height: 95vh;
    margin-top: -35px;
    h1 {
      font-size: 32px;
    }
    .input-wrapper {
      h2 {
        font-size: 16px;
        font-weight: 200;
      }
      input {
        height: em(48px);
        width: 528px;
        height: 48px;
        padding: 8px 16px;
        border: none;
        outline: 1px solid $clr014;
        border-radius: 4px;
        transition: 0.25s;
        &:focus {
          outline: 1px solid $clr8;
        }
        &:hover {
          outline: 1px solid #323338;
        }
        &::placeholder {
          font-size: 15px;
        }
      }
    }
  }
  .continue-btn {
    border: none;
    color: white;
    background-color: $clr8;
    width: em(126px);
    height: em(40px);
    padding: 8px 16px;
    border-radius: 3px;
    gap: 5px;
    font-size: 16px;
    margin-top: 43%;
    margin-left: 50%;
    &:hover {
      background-color: $primary-hover;
    }
    div {
      padding-top: 3px;
    }
  }
  img {
    height: 74.3%;
  }
}
