.status {
  position: relative;
}

.status:hover .peeling-span {
  display: block;
}

.peeling-span {
  transition: opacity 0.3s ease-in-out;
  display: none;
}
.status-working {
  background-color: $clr10;
}
.status-stuck {
  background-color: $clr12;
}
.status-done {
  background-color: $clr11;
}
.status-empty {
  background-color: $clr41;
}
