.status-progress {
    width: 100%;
    height: 100%;
    padding-inline: 8px;

    .cell-progress {
        height: 24px;
        transition: .2s;

        &:hover {
            border-radius: 2px;
            scale: 1.1;
        }
    }
}