.status {
  position: relative;
}

.status:hover .peeling-span {
  display: block;
}

.peeling-span {
  transition: opacity 0.3s ease-in-out;
  display: none;
}
// .status-working {
//   background-color: $clr10;
// }
// .status-stuck {
//   background-color: $clr12;
// }
// .status-done {
//   background-color: $clr11;
//   position: relative;
// }
// .status-empty {
//   background-color: $clr41;
// }

.confetti-sprite-animation {
  position: absolute;
  left: calc((100% - 139px) / 2);
  right: calc((100% - 139px) / 2);
  top: 0;
  bottom: 0;
  background-position: left center;
  background-size: calc(139px * 75);
  animation: confetti calc(75s / 25) steps(75);
  animation-fill-mode: forwards;
}
