.task-dropdown {
  padding: 18px 24px;
  position: absolute;
  top: 33px;
  left: -73px;
  display: grid;
  width: fit-content;
  background-color: white;
  z-index: 50000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: -29px;
  margin-top: 8px;
  border-radius: 6px;
  @include for-mobile-layout {
    background-color: #2d2d2d;
  }

  .arrow-up-div {
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #fff;
    top: -5px;
    margin-left: 47%;
    z-index: 52;
    rotate: 45deg;
    @include for-mobile-layout {
      background-color: #2d2d2d;
    }
  }

  .option {
    width: 100%;
    min-width: 152px;
    height: 32px;
    text-align: center;
    border-radius: 2px;
    padding: 0 4px;
    color: white;
    cursor: pointer;
  }

  .editable-div {
    color: black;
    font-size: 14px;
    border: 1px solid rgb(228, 228, 228);
    width: 100%;
    min-width: 152px;
    height: 32px;
    display: flex;
    position: relative;
    @include for-mobile-layout {
      color: $clr2;
    }
    .editable-span {
      width: 100%;
      text-align: start;
    }
    &:hover {
      outline: none;
    }
    span {
      &:focus {
        border: none;
        outline: none;
      }
    }
    &:focus {
      border: none;
      outline: 1px solid #0073ea;
    }
    &:hover .remove-label {
      display: block;
    }
    &:hover .remove-label-btn {
      display: block;
    }
    .edit-labels-color {
      margin-top: 3px;
      margin-right: 8px;
      min-width: 24px;
      min-height: 5px;
      height: 24px;
      color: white;
      border-radius: 3px;
      width: 24px;
    }
  }
  .remove-label {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    position: absolute;
    right: -20px;
    top: 7px;
    &:hover .remove-label-btn {
      display: block;
    }
    .remove-label-btn {
      display: none;
    }
    span {
      margin-top: -4px;
    }
    &:hover {
      background-color: #dcdfec;
      display: block;
    }
    svg {
      color: $clr3;
      width: 12px;
    }
  }
  .dropdown-line {
    height: 1px;
    background-color: #d0d4e4;
    margin-top: 15px;
  }
}

.edit-labels {
  color: $clr3;
  font-size: 14px;
  height: 32px;
  border-radius: 4px;
  margin-top: 10px;
  @include for-mobile-layout {
    color: $clr2;
  }
  .icon-container {
    gap: 3px;
  }
  &:hover {
    background-color: #dcdfec;
  }
  &:focus {
    outline: none;
    border: none;
  }
}

.new-label {
  justify-content: center;
  margin-bottom: -7px;
  height: 32px;
  color: $clr3;
  border-radius: 3px;
  font-size: 14px;
  border: 1px solid rgb(228, 228, 228);
  min-width: 152px;
  @include for-mobile-layout {
    color: $clr2;
  }
  .edit-plus {
    margin-top: 6px;
  }
  &:hover {
    background-color: #dcdfec;
  }
}

.option-edit {
  position: relative;
  border: 1px solid rgb(228, 228, 228);
}

.dropdown-list {
  display: grid;
  gap: 8px 24px;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
}

.dropdown-list-active {
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
}

.dropdown-line-edit {
  margin-top: 15px;
  height: 1px;
  background-color: #d0d4e4;
}

.editable-span {
  &[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
  }
}