.task-text {
    height: 100%;
    width: 100%;
    position: relative;
    &:hover .reset-text {
        opacity: 1;
    }
    .text {
        height: 25px;
        width: 130px;
        cursor: auto;
    }
    .reset-text {   
        background-color: $clr016;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: em(16px);
        width: em(16px);
        position: absolute;
        right: 8px;
        top:9px;
        padding: 3px;
        padding-bottom: 6px;
        z-index: 1;
        &:hover {
            color: $clr8;
        }
    }
}

