.task-text {
    padding: 0 5px;
    height: 100%;
    width: 100%;
    position: relative;
    font-size: 13px;
 
    &:hover {
        .text {
            outline: 1px solid $clr38;
        }
        .text-placeholder {
            opacity: 1;
        }

        .reset-text {
            opacity: 1;
        }
    }
        .text {
            &:focus {
                outline: 1px solid $clr8;
            }
        }


    .reset-text {
        box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
        background-color: $clr39;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        height: 16px;
        width: 16px;
        position: absolute;
        right: 10px;
        top: 9px;
        border-radius: 2px;

        .x-icon {
            height: 16px
        }
    }

    .txt-content {
        white-space: nowrap;
        font-size: 13px;
        font-weight: 400;
        height: 100%;
     
        .text {
            border: none;
            text-align: center;
            height: 25px;
            width: 100%;
            cursor: auto;
        }
    }
    .text-placeholder {
        opacity: 0;
        .t-icon {
            position: absolute;
            top: 11px;
            right: 50px;
        }
        .plus {
            z-index: 1;
            display: flex;
            justify-content: center;
        align-items: center;
        background-color: $clr8;
        color: #fff;
        height: 14px;
        width: 14px;
        border-radius: 50%;
        position: absolute;
        bottom: 10px;
        left: 50px;
        padding-bottom: 2px;
    }
        }
    
}