.el-date-editor.el-input, .el-date-editor.el-input__wrapper { 
    opacity: 0;
    width: max-content;
    z-index: -1;
    width: 100%;

.demo-date-picker {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    // & >>> input {
    //     border:none;
    //     background: transparent;
    // }

    .block {
        padding: 30px 0;
        text-align: center;
        border-right: solid 1px var(--el-border-color);
        flex: 1;
    }

    .block:last-child {
        border-right: none;
    }

    .demonstration {
        display: block;
        color: var(--el-text-color-secondary);
        font-size: 14px;
        margin-bottom: 20px;
    }
}
}

.date-preview {
    z-index: 52;
    opacity: 1;
}