.timeline-progress-bar {
    position: absolute;
    height: 22px;
    text-align: center;
    color: white;
    width: em(145px);
    border-radius: 10px;
    font-size: 14px;
    background-color: #383838;
    z-index: 6;
    &:hover .reset-timeline {
        opacity: 1;
    }
    &.emptyTimeline {
        background-color: #c4c4c4;
        .day-diff {
            position: absolute;
            top: 2px;
            right: 35px;
            display: none;
        }
    
        .date-diff {
            font-size: 13px;
            position: absolute;
            top: 3px;
            right: 60px;
        }
    }
    .reset-timeline {   
        background-color: $clr016;
        opacity: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        height: em(16px);
        width: em(16px);
        position: absolute;
        right: -2px;
        top:4px;
        padding: 3px;
        padding-bottom: 6px;
        z-index: 1;
        &:hover {
            color: $clr8;
        }
    }
    .day-diff {
        position: absolute;
        top: 3px;
        right: 55px;
        display: none;
    }

    &:hover .day-diff {
        display: block;
    }

    &:hover .date-diff {
        display: none;
    }

    .date-diff {
        font-size: 13px;
        position: absolute;
        top: 3px;
        right: 20px;
    }

    .bar-precent {
        height: 22px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        // background-color: aqua;
    }
    .border-radius-end {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
}