.workspace {
    background-color: #f6f7fb;
    padding-inline-start: 14px;
    padding-inline-end: 16px;
    font-weight: 300;
    color: #323338;
    padding-top: 12px;
    position: relative;
    border-right: 1.2px solid #d0d4e6;
    grid-area: workspace;
}