.workspace {
  width: 30px;
  position: relative;
  margin-top: -12px;
  background-color: #f6f7fb;
  padding-inline-start: 14px;
  padding-inline-end: 16px;
  font-weight: 300;
  color: #323338;
  padding-top: 12px;
  border-right: 1.2px solid #d0d4e6;
  font-size: 14px;

  .workspace-header {
    justify-content: space-around;
    width: 224px;
    height: 40px;
    margin-bottom: 18px;
    border: 1px solid #676879;
    border-radius: 4px;
  }

  .arrowDown-workspace {
    margin-left: 50px;
    margin-top: 4px;
  }

  .workspace-title {
    padding-bottom: 5px;
    margin-top: 15px;
    color: #676879;
  }

  .pink-div {
    width: 20px;
    height: 20px;
    background-color: #ed7aef;
    border-radius: 6px;
    margin-right: 13px;
    margin-left: 5px;
  }

  .Main-letter {
    color: white;
    margin-left: 4px;
  }

  .home-svg {
    margin-top: 9px;
    margin-left: -4px;
  }

  .main-workspace {
    margin-left: -7px;
    margin-top: -1px;
    font-size: 16px;
    font-weight: bold;
  }

  .workspace-icon {
    margin-right: 10px;
    margin-top: 5px;
  }

  .workspace-line {
    border-bottom: 1px solid #d0d4e6;
    margin-bottom: 22px;
    margin-inline-start: 6px;
    width: 214px;
    height: 1px;
  }

  .selected-board {
    background-color: $clr7;
    width: 100%;
  }

  .workspace-boards {
    display: flex !important;
    position: relative;

    .dots {
      display: none;
      margin: auto;
    }

    &:hover {
      background-color: $clr39;

      .dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 1px;
        right: 5px;
        height: 30px;
        width: 30px;
      }
    }
  }

  .workspace-container > *:not(.workspace-line) {
    height: 32px;
    width: 100%;
    padding: 0 8px;
    border-radius: 4px;
  }

  .add {
    margin-left: -2px;
  }

  &.is-open {
    .workspace-open-btn {
      transform: rotate(0deg);

      &:hover {
        right: -10px;
      }
    }
  }

  .workspace-open-btn {
    transform: rotate(180deg);
    width: 26px;
    height: 24px;
    border-radius: 50%;
    background-color: $clr2;
    position: absolute;
    top: 30px;
    right: -13px;
    background-color: #fff;
    border-radius: 50%;
    justify-content: center;
    z-index: 2800;
    padding: 0 0.5px;
    border: 1px solid #c3c6d4;
    transition: width 0.15s ease, padding-inline-end 0.15s ease,
      right 0.15s ease padding-inline-start 0.15s ease,
      background-color 0.15s ease;
    transition: 0.1s;
    svg {
      margin-top: 1.5px;
      margin-left: 1.2px;
    }
    &:hover {
      width: 35px;
      height: 24px;
      border-radius: 40px;
      background-color: $clr8;
      right: -23px;
      svg {
        fill: $clr2;
        margin-top: 1px;
      }
    }
  }

  .workspace-input {
    width: 100%;
    font-size: 14px;
    outline: none;
    border: none;
    background-color: inherit;

    &::placeholder {
      color: #323338;
    }
  }
}

.is-open {
  width: 254px;
}

.workspace-add {
  svg {
    margin-left: -2px;
  }
}

.board-title-input {
  padding: 3px;
  outline: 1px solid $clr8;
  border: none;
}
