.openai-container {
    position: relative;
    min-height: 200px;
    padding: 20px;
    border: 1px solid $clr014;
    color: #fff;
    background: linear-gradient(180deg, #b4b4ff 0.69%, #482fe9 80%);

    .chat-container {
        width: 100%;
        display: grid;
    }

    .title {
        padding-inline-end: 10px;
        font-weight: bold;
    }

    .send-section {
        position: absolute;
        height: 40px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-inline: 5px;
        // border-top: 1px solid #000;

        input[type="text"] {
            background-color: #fff;
            border: none;
            height: 30px;
            width: 85%;
            border-radius: 4px;

            &:focus {
                outline: none;
            }
        }

        .send {
            border: none;
            padding: 10px;
            padding-top: 13px;
            cursor: pointer;
            // padding-top: 6px;
           
            
            
            svg {
                width: 15px;
                height: 15px;
            }
        }

        .ai-loader {
            .loader {
                width: 48px;
                height: 48px;
                position: relative;
              }
              .loader::before , .loader::after{
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50%);
                width: 48em;
                height: 48em;
                background-image:
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0),
                  radial-gradient(circle 10px, #FFF 100%, transparent 0);
                background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                                     13em -13em, -13em -13em, 13em 13em, -13em 13em;
                  background-repeat: no-repeat;
                font-size: 0.5px;
                border-radius: 50%;
                animation: blast 1s ease-in infinite;
              }
              .loader::after {
                font-size: 1px;
                background: #fff;
                animation: bounce 1s ease-in infinite;
              }
              
              @keyframes bounce {
                0% , 100%{ font-size: 0.75px }
                50% { font-size: 1.5px }
              }
              @keyframes blast {
                0% , 40% {
                  font-size: 0.5px;
                }
                70% {
                  opacity: 1;
                  font-size: 4px;
                }
                 100% {
                   font-size: 6px;
                  opacity: 0;
                }
              }
        }
    }

    .msg {
        margin: 10px 0;
    }

    .open-ai-input {
        border: 2px solid $clr6;
        background-color: inherit;
    }
}