.openai-container {
    position: relative;
    min-height: 200px;
    padding: 20px;
    border: 1px solid $clr014;
    color: #fff;
    background: linear-gradient(180deg, #b4b4ff 0.69%, #482fe9 80%);

    .chat-container {
        width: 100%;
        display: grid;
    }

    .title {
        padding-inline-end: 10px;
        font-weight: bold;
    }

    .send-section {
        position: absolute;
        height: 40px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-inline: 5px;
        // border-top: 1px solid #000;

        input[type="text"] {
            background-color: #fff;
            border: none;
            height: 30px;
            width: 85%;
            border-radius: 4px;
            padding-inline-start: 8px;

            &:focus {
                outline: none;
            }
        }

        .send {
            border: none;
            padding: 10px;
            padding-top: 13px;
            cursor: pointer;
            // padding-top: 6px;
           
            
            
            svg {
                width: 15px;
                height: 15px;
            }
        }

        .ai-loader {
        }
    }

    .msg {
        margin: 10px 0;
    }

    .open-ai-input {
        border: 2px solid $clr6;
        background-color: inherit;
    }
}