* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $mainFont;
    color: rgb(51,51,51);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input[type="checkbox" i] {
    height: 16px;
    width: 16px;
}