* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $mainFont;
    color: rgb(51,51,51);
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input[type="checkbox" i] {
    height: 16px;
    width: 16px;
    border: 1px solid #c3c6d4 !important;
}

.black-screen {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(41, 47, 76, 0.7);
    pointer-events: none;
    z-index: 10000;
  }
