.main-layout {
    display: grid;
    width: 100vw;
    grid-template-columns: 67px auto 1fr;
    // grid-template-rows: 180px 1fr;
    grid-template-areas:
        "side-nav workspace board-content"
        // "side-nav workspace";
        
}

.group-grid {
    display: grid !important;
    grid-template-columns: 40px 6px 32px 364px repeat(7,140px) 1fr; //TODO 1 more cell
    grid-template-rows: 2.25rem;
    grid-auto-flow: column;

    > * {
        background-color: #fff;
    }
}

.side-nav {
    grid-area: side-nav;
}

.workspace {
    grid-area: workspace;
}

// .board-header {
//     grid-area: board-header;
// }

// .main-table , .kanban-container , .chart {
//     grid-area: board-content;
// }

.last {
    border-right: none;
}