.main-layout {
    display: grid;
    grid-template-columns: 67px auto 1fr;
    grid-template-rows: 180px 1fr;
    grid-template-areas:
        "side-nav workspace board-header"
        "side-nav workspace board-content";
}

.group-grid {
    display: grid !important;
    grid-template-columns: 40px 6px 32px 364px repeat(7,140px);
    grid-template-rows: 2.25rem;
    grid-auto-flow: column;

    > * {
        background-color: #fff;
    }
}

.side-nav {
    grid-area: side-nav;
}

.workspace {
    grid-area: workspace;
}

.board-header {
    grid-area: board-header;
}

.main-table , .kanban , .chart {
    grid-area: board-content;
}