// HOME
$clr1: rgb(97, 97, 255); //btn bgc
$clr2: white; //pic$ btn text
$clr3: black; //
$clr4: #333333; // bottom txt

// DEMO
$clr5: rgb(50, 51, 56); // main txt
$clr6: #292f4c; //side nav bgc
$clr7: #cce5ff; //selected filter bgc
$clr8: #0073ea; //new task btn & selected main table

// Todo labels
$clr9: #401794; // HIGH purple label
// $clr4  for CRITICAL black label
$clr10: #fdab3d; // WORKING yellow label
$clr11: #00c875; // DONE green label
$clr12: #e2445c; // STUCK red label
$clr13: #579bfc; // LOW blue label
$clr45: #c3c4c3; // EMPTY grey label

// Todo side table
$clr14: #037f4c; //green table side
$clr15: #0086c0; //blue table side
$clr16: #ff158a; //pink table side
$clr014: #d0d4e6;
$clr016: #d0d4e4;
$edit-hover: #dcdfec;
$primary-hover: #0060b9;
$clr17: #f6f7fb; //workspace bgc

// Todo change color palette
// $clr14 (green)
$clr40:#00c875;
$clr18: #9cd326;
$clr19: #cab641;
$clr20: #ffcb00;
$clr21: #784bd1;
$clr22: #a25ddc;
$clr23: #0086c0;
$clr24: #579bfc;
$clr25: #66ccff;
$clr26: #bb3354;
$clr27: #e2445c;
//$clr16 (pink)
$clr28: #ff5ac4;
$clr29: #ff642e;
$clr30: #fdab3d;
$clr31: #7f5347;
$clr32: #c4c4c4;
$clr33: #808080;

// DASHBOARD
$clr34: rgba(218, 218, 218, 0.509); //stat summary bgc

// PRIORITY
$clr34: #333333;
$clr35: #401694;
$clr36: #5559df;
$clr37: #579bfc;

$clr38: #c3c6d4;
$clr39: #dcdfec;
$clr41: #C4C4C4;
$clr42 :#f5f6f8;
$clr43 :#323338;
$clr44 :#676879;