// HOME
$clr1: rgb(97, 97, 255); //btn bgc
$clr2: white; //pic$ btn text
$clr3: black; //
$clr4: #333333; // bottom txt

// DEMO
$clr5: rgb(50, 51, 56); // main txt
$clr6: #292f4c; //side nav bgc
$clr7: #cce5ff; //selected filter bgc
$clr8: #0073ea; //new task btn & selected main table

// Todo labels
$clr9: #401794; // HIGH purple label
// $clr4  for CRITICAL black label
$clr10: #fdab3d; // WORKING yellow label
$clr11: #00c875; // DONE green label
$clr12: #e2445c; // STUCK red label
$clr13: #579bfc; // LOW blue label
$clr29: #c3c4c3; // EMPTY grey label

// Todo side table
$clr14: rgb(3, 127, 76); //green table side
$clr15: rgb(0, 134, 192); //blue table side
$clr16: rgb(255, 21, 138); //pink table side
$clr014: #d0d4e6;
$clr17: rgb(246, 247, 251); //workspace bgc

// Todo change color palette
// $clr14 (green)
$clr18: rgb(156, 211, 38);
$clr19: rgb(202, 182, 65);
$clr20: rgb(255, 203, 0);
$clr21: rgb(120, 75, 209);
$clr22: rgb(162, 93, 220);
$clr23: rgb(0, 134, 192);
$clr24: rgb(87, 155, 252);
$clr25: rgb(102, 204, 255);
$clr26: rgb(187, 51, 84);
$clr27: rgb(226, 68, 92);
//$clr16 (pink)
$clr28: rgb(255, 90, 196);
$clr29: rgb(255, 100, 46);
$clr30: rgb(253, 171, 61);
$clr31: rgb(127, 83, 71);
$clr32: rgb(196, 196, 196);
$clr33: rgb(128, 128, 128);

// DASHBOARD
$clr34: rgba(218, 218, 218, 0.509); //stat summary bgc
