@font-face {
    font-family: Figtree;
    src: url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-semiBold.ttf');
}

@font-face {
    font-family: PoppinsMedium;
    src: url('../fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PoppinsLight;
    src: url('../fonts/Poppins-Light.ttf');
}



$mainFont: 'Figtree', sans-serif;
$Poppins: 'PoppinsSemiBold', sans-serif;
$secondaryFont: arial;